.p-home-main-body {
  min-height: 100vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: fangsong, math, sans-serif;
  padding-top: 10vh;
  gap: 80px;
}

.p-home-intro-sec {
  min-height: 100vh;
  width: 80%;
  /* background-color: rgb(0, 208, 255); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.p-home-intro-title {
  min-height: 120px;
  width: 80%;
  /* background-color: rgb(0, 255, 60); */
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  gap: 20px;
  font-weight: 600;
}
.p-home-intro-title > p {
  min-height: 20px;
  width: 80%;
  /* background-color: rgb(0, 255, 60); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
}
.p-home-why-join-us-sec {
  font-weight: 600;
  min-height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  /* background-color: rgb(211, 164, 164); */
}
.p-home-why-join-us-sec > ul {
  line-height: 35px;
}

/* //////////////// */

.p-home-why-join-us-title,
.p-home-how-it-works-title {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 600;
  font-size: 1.5rem;
  width: 100%;
  height: 50px;
  /* background-color: rgb(211, 164, 164); */
}
.p-home-how-it-works-sec {
  font-weight: 600;
  min-height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  line-height: 30px;
  gap: 20px;
  flex-direction: column;
  /* background-color: aliceblue; */
}

.p-home-how-it-works-sub-title {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 600;
  font-size: 1.3rem;
  width: 100%;
  height: 50px;
  /* background-color: rgb(211, 164, 164); */
}
.p-home-learn-more-button {
  height: 40px;
  width: 160px;
  background-color: #cfcfcf;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
}
/* ///////////// */
.p-home-add-image-body {
  font-weight: 600;
  min-height: 300px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: start;
  line-height: 30px;
  gap: 20px;
  flex-direction: column;
  /* background-color: aliceblue; */
}
.p-home-add-image-title {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 700;
  font-size: 1.7rem;
  width: 100%;
  height: 40px;
  /* background-color: rgb(211, 164, 164); */
}


.p-home-add-image-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 250px;
  gap: 20px;
  /* background-color: rgb(211, 164, 164); */
}
.p-home-add-image-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 250px;
  cursor: pointer;
  border: 3px dashed rgb(176, 176, 176);
  /* background-color: rgb(211, 164, 164); */
}
.p-home-add-image-icon {
  width: auto;
  height: 100px;
  transition: all 0.3s ease-in-out;
}
.p-home-add-image-sec:hover .p-home-add-image-icon {
  filter: drop-shadow(0px 5px 3px rgb(125, 125, 125));
}
.p-home-add-image-submit-btn{
  height: 35px;
  width: 120px;
  font-size: 1.1rem;
  color: white;
  background-color: rgb(0, 0, 138);
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}