.p-booking-preview-main-body {
  min-height: 100vh;
  width: 100%;
  /* background-color: rgb(233, 233, 233); */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh 0;
}
.p-booking-preview-sub-body {
  margin: 10vh 0 0 0;
  min-height: 600px;
  width: 700px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgb(165, 165, 165);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 30px;
}

.p-booking-preview-back-btn {
  height: 25px;
  width: auto;
  font-size: 2rem;
  border: 0;
  cursor: pointer;
  /* background-color: red; */
  position: absolute;
  left: 40px;
  top: 40px;
}

.p-booking-preview-form-body {
  margin: 60px 0;
  min-height: 500px;
  width: 500px;
  /* background-color: rgb(255, 222, 222); */
  display: flex;
  justify-content: end;
  align-items: start;
  flex-direction: column;
  gap: 25px;
}
.p-booking-preview-data {
  min-height: 20px;
  width: 90%;
  /* background-color: rgb(165, 255, 82); */
  display: flex;
  justify-content: start;
  align-items: center;
  text-transform: capitalize;
  font-size: 1.2rem;
  gap: 30px;
}
.p-booking-preview-btn {
  height: 35px;
  width: 100px;
  display: flex;
  color: white;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}
.accept {
  background-color: rgb(34, 130, 255);
}
.reject {
  background-color: rgb(255, 88, 32);
}

/* ////////Rejection note section */

.p-booking-rejection-body {
  position: absolute;
  min-height: 300px;
  width: 600px;
  gap: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgb(165, 165, 165);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: fangsong, math, sans-serif;

  animation: zooming 0.2s linear;
}
@keyframes zooming {
  from {
    height: 100px;
    width: 100px;
  }
}
.p-booking-rejection-title {
  font-size: 1.3rem;
  font-weight: 600;
}
.p-booking-rejection-textarea {
  min-height: 150px;
  width: 80%;
}
.p-booking-rejection-btn{
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 223, 223);
  border: 0;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}