.p-profile-main-body {
  min-height: 100vh;
  width: 100%;
  /* background-color: rgb(237, 137, 255); */
  background-image: url("/profile-background.jpg");
  /* background-position: center; */
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  font-family: math, sans-serif;
  padding-top: 15vh;
}
.p-profile-body {
  margin-top: 20vh;
  height: 500px;
  width: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.408);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 30px;
}
.p-profile-photo {
  position: absolute;
  border: 15px solid white;
  top: -150px;
  height: 250px;
  width: 250px;
  /* background-color: aqua; */
  border-radius: 50%;
}
.p-profile-data-sec {
  height: 200px;
  width: 500px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  /* background-color: aqua; */
}
.p-profile-data {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  /* background-color: rgb(221, 0, 255); */
}
/* ///////////// */
.p-profile-gallery-body {
  padding: 50px 0;
  min-height: 300px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.p-profile-gallery-sec {
  min-height: 300px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.p-profile-gallery-img {
  height: 180px;
  width: auto;
}
.p-profile-gallery-title {
  height: 50px;
  font-size: 2rem;
}
