.footer-main-body {
  min-height: 400px;
  width: 100%;
  margin-top: 50px;
  background-color: black;
  /* background-image: url("/footer-background.jpg"); */
  color: white;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  font-family: fangsong, math, sans-serif;
  position: relative;
  overflow: hidden;
  /* gap: 20px; */
}
.footer-background {
  filter: contrast(20);
  height: 100%;
  width: 300%;
  position: absolute;
  mix-blend-mode: lighten;
  animation: move 260s linear infinite;
}

@keyframes move {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

/* ///////////////// */

.footer-sub-body {
  min-height: 300px;
  width: 90%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: start;
}

/* /// */
.footer-logo-sec {
  height: 50px;
  width: 30%;
  display: flex;
  justify-content: start;
  align-items: start;
  /* background-color: red; */
}
.footer-title-logo {
  height: 30px;
  width: auto;
  filter: invert(1);
}
.footer-content-sec {
  min-height: 250px;
  width: 70%;
  /* background-color: blue; */
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.footer-content {
  height: 250px;
  /* background-color: rgba(255, 255, 255, 0.205); */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.footer-content:nth-child(1) {
  width: 200px;
  gap: 7px;
  border-right: 1px solid white;
}
.footer-content:nth-child(2) {
  width: 400px;
  border-right: 1px solid white;
  gap: 15px;
}
.footer-content:nth-child(3) {
  width: 200px;
  gap: 5px;
}
.footer-icon-data {
  height: 40px;
  width: 100%;
  /* background-color: rgb(0, 0, 82); */
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
}
.footer-social-media-logo {
  height: 20px;
  width: auto;
}
.footer-content-title {
  font-size: 1.3rem;
  font-weight: 700;
}

/* ///////////////// */

.footer-bottom {
  z-index: 0;

  height: 70px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* ////Responsive area */

@media screen and (max-width: 1000px) {
  .footer-sub-body {
    width: 95%;
  }
}
@media screen and (max-width: 900px) {
  .footer-main-body {
    padding: 30px 0 0 0;
  }
  .footer-sub-body {
    flex-direction: column;
    align-items: center;
  }
  .footer-logo-sec {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    /* background-color: red; */
  }

  .footer-content-sec {
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    width: 85%;
    /* background-color: aqua; */
  }
  .footer-content {
    /* height: 250px; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    align-items: start;
    flex-shrink: 0;
    height: auto;
    padding: 10px 0;
  }

  .footer-content:nth-child(1) {
    border-right: 0px solid white;
    width: 200px;
  }
  .footer-content:nth-child(2) {
    width: 320px;

    border-right: 0px solid white;
  }
  .footer-content:nth-child(3) {
    width: 40%;
    border-right: 0px solid white;
  }
}

@media screen and (max-width: 500px) {
  .footer-logo-sec {
    justify-content: center;
  }
}
