.register-sub-body {
  /* height: 500px; */
  height: 480px;
  width: 800px;
  /* background-color: rgb(255, 255, 255); */
  background-image: linear-gradient(
    to right,
    rgb(227, 227, 227),
    rgb(72, 72, 72)
  );

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
}

.register-image-sec {
  /* height: 90%; */
  height: 450px;

  width: 350px;
  background: url("/public/register-back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  transition: all 0.7s ease-in-out;
  z-index: 1;
  border-radius: 20px;
  animation: oppositeside 0.7s ease-in-out;
}
@keyframes oppositeside {
  from {
    transform: translateX(400px);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
  }
  to {
    transform: translateX(0);
  }
}

.register-form-sec {
  /* height: 90%; */
  height: 450px;

  width: 400px;
  background-color: rgb(225, 225, 225);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  transition: all 0.7s ease-in-out;

  animation: oppoformside 0.7s ease-in-out;
}
@keyframes oppoformside {
  from {
    transform: translateX(-350px);
  }

  to {
    transform: translateX(0);
  }
}
.register-form {
  /* height: 90%; */
  height: 450px;

  width: 400px;
  /* background-color: rgb(82, 11, 11); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.register-form-title {
  height: 50px;
  /* background-color: red; */
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: math, sans-serif;
}
.register-inputfield-sec {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 280px;
  gap: 10px;
  height: 40px;
  text-transform: capitalize;
  border-radius: 10px;
  outline: 1px solid rgb(251, 255, 205);

  background-color: rgb(255, 255, 255);
  transition: 0.3s all ease-in-out;
}
.register-input-field {
  width: 85%;
  height: 35px;
  border: 0;
  font-size: 1rem;
  background-color: transparent;
}
.register-input-field::placeholder {
  font-size: 0.9rem;
}

.register-input-field:focus {
  outline: none;
}
.register-inputfield-sec:focus-within {
  outline: 1px solid rgb(234, 255, 0);
  transform: scale(1.03);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.204);
}

.register-button {
  height: 40px;
  width: 120px;
  border: 0;
  border-radius: 10px;
  font-size: 1.15rem;
  font-family: math, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* background-color: rgb(255, 196, 0); */
  background-image: linear-gradient(
    to right,
    rgb(255, 153, 0),
    rgb(255, 196, 0)
  );
  position: relative;
  overflow: hidden;
}
.register-button:active {
  transform: scale(1.02);
}
.register-btn-back {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  /* background-color: #ff0000fe; */
  background-color: #ffffff52;
  position: absolute;
  bottom: -160px;
  right: -140px;
  transition: all 0.5s ease-in-out;
}
.register-button:hover .register-btn-back {
  bottom: -130px;
  right: -120px;
}
.form-changer-area {
  height: 20px;
  width: 80%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.form-to-login {
  height: auto;
  width: auto;
  /* background-color: rgb(152, 159, 159); */
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}

.form-to-login:hover {
  color: rgb(232, 43, 0);
}

/* //////////////Responsive Area */
@media screen and (max-width: 850px) {
  .register-image-sec {
    display: none;
  }
  .register-sub-body {
    height: 455px;
    width: 405px;
    justify-content: center;
    background-image: unset;
    background-color: rgb(191, 191, 191);
  }
  .register-form-sec {
    animation: unset;
  }
}

@media screen and (max-width: 450px) {
  .register-sub-body {
    width: 90%;
  }
  .register-form-sec {
    width: 98%;
  }
  .register-form {
    /* height: 90%; */
    width: 90%;
  }
  .register-inputfield-sec {
    width: 90%;
  }
}
