.navbar-main {
  height: 10vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  z-index: 2;
  box-shadow: 0px 0px 20px 0px #abb3ff24;
}
.navbar-logo-sec {
  height: 100%;
  width: 30%;
  /* width: 450px; */
  /* background-color: rgb(0, 255, 149); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-logo {
  height: auto;
  /* width: 50%; */
  width: 230px;
}
/* ////////////// */
.navbar-menu-sec {
  height: 100%;
  width: 60%;
  /* width: 900px; */
  /* background-color: blue; */
  display: flex;
  justify-content: end;
  align-items: center;
  font-weight: 600;
}
.navbar-menu-items {
  height: 100%;
  width: 80%;
  /* background-color: rgb(0, 255, 242); */
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: end;
  align-items: center;
  padding: 0;
  gap: 40px;
}

.zero,
.one,
.two,
.three {
  /* height: 45%; */
  height: 30px;
  min-width: 50px;
  color: #000000;
  font-size: 0.95rem;
  font-weight: 400;
  border-radius: 10px 7px;
  padding: 0 20px;
  /* background-color: rgb(0, 72, 255); */
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}

.one:hover {
  background-color: rgb(198, 255, 165);
}
.two:hover {
  background-color: rgb(188, 191, 255);
}
.three:hover {
  background-color: rgb(255, 236, 173);
}
.zero:hover {
  background-color: rgb(247, 159, 255);
}

/* /////////Profile */
.navbar-profile-sec {
  height: 32px;
  width: 32px;
  background-color: rgb(255, 255, 255);
  /* border: 2px solid rgb(108, 108, 108); */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.navbar-profile-border {
  height: 32px;
  width: 32px;
  /* background-color: rgb(255, 255, 255); */
  border: 2px solid rgb(108, 108, 108);
  border-radius: 50%;
  position: absolute;
  animation: border-rotate 3s linear;
}
@keyframes border-rotate {
  from {
    transform: rotate(180deg);
    border: 2px dashed rgb(108, 108, 108);
  }
}
.navbar-profile-img {
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

/* //////Notification */

.navbar-notification-sec {
  height: 32px;
  width: 32px;
  /* background-color: rgb(175, 175, 175); */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.navbar-notification-img {
  height: 80%;
  width: 80%;
  border-radius: 50%;
}
.navbar-notification-dot {
  position: absolute;
  right: 3px;
  top: 5px;
  border: 3px solid rgb(255, 255, 255);
  height: 10px;
  width: 10.5px;
  /* height: 7px;
  width: 6.5px; */
  background-color: red;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 0.5rem;
}

/* ///////Hamburger body */

.navbar-hamburger-body,
.navbar-hamburger-icon {
  display: none;
}

.hamb-main {
  display: none;
}

/* /////////////////////////// */

/* Responsive area */

@media screen and (max-width: 1200px) {
  .navbar-logo-sec {
    justify-content: center;
    /* background-color: red; */
    width: 35%;
  }

  .navbar-menu-sec {
    width: 65%;
  }
  .navbar-menu-items {
    padding-right: 20px;
    width: 100%;
  }
  .zero,
  .one,
  .two,
  .three {
    font-size: 0.85rem;
    padding: 0 15px;
  }
}
@media screen and (max-width: 900px) {
  .navbar-menu-sec {
    width: 70%;
  }

  .title-logo {
    width: 200px;
  }
  .navbar-menu-items {
    padding: 0;
    display: flex;
    justify-content: end;
    padding-right: 30px;
    /* background-color: red; */
  }
}
@media screen and (max-width: 850px) {
  .navbar-menu-sec {
    width: 60%;
  }
  .navbar-menu-items {
    gap: 20px;
    /* width: 90%; */
    /* background-color: red; */
  }
}

@media screen and (max-width: 750px) {
  .navbar-main {
    display: flex;
    justify-content: space-between;
  }
  .navbar-logo-sec {
    height: 100%;
    width: 280px;
    /* background-color: rgb(0, 255, 149); */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-menu-sec {
    display: none;
    justify-content: center;
  }
  /* .navbar-menu-items {
    justify-content: center;
    width: 90%;
  }
  .navbar-menu-data {
    height: 45%;
    width: 80px;
    } */



  /* ////////This for Animation//////////// */

  .navbar-hamb-main {
    /* background-color: blue; */
    height: 50px;
    width: 50px;
    margin: 0 15px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(255, 209, 209); */
    gap: 10px;
    flex-direction: column;
    position: relative;
  }

  .navbar-hamb-line {
    height: 4px;
    width: 60%;
    background-color: rgb(92, 92, 92);
    border-radius: 10px;
    transition: all 0.18s ease-in-out;
    position: absolute;
  }
  .navbar-hamb-line:nth-child(1) {
    top: 30%;
    width: 20%;
  }
  .navbar-hamb-line:nth-child(3) {
    top: 65%;
    width: 40%;
  }

  .navbar-hamb-line-after {
    height: 4px;
    width: 50%;
    background-color: rgb(131, 131, 131);
    border-radius: 10px;
    transition: all 0.18s ease-in-out;
    position: absolute;
  }
  .navbar-hamb-line-after:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
    width: 55%;
  }
  .navbar-hamb-line-after:nth-child(2) {
    opacity: 0;
  }
  .navbar-hamb-line-after:nth-child(3) {
    width: 55%;
    top: 50%;
    transform: rotate(-45deg);
  }

  /* /////////Hamburger Body */
  .navbar-hamburger-body {
    height: 90vh;
    width: 100%;
    top: 10vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(255, 255, 255);
  }
  .navbar-hamburger-menu {
    height: 50px;
    width: 70%;
    /* background-color: red; */
    text-decoration: none;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: end;
    border-top: 1px solid rgb(183, 183, 183);
  }
  .navbar-hamburger-menu:nth-child(1) {
    border: 0px;
  }
/* //////////Hamburger Notification Button */


.navbar-hamb-notification-sec {
  height: 32px;
  width: 32px;
  /* background-color: rgb(175, 175, 175); */
  position: absolute;
  top: 20px;
  right: 20px;
}


}
