.u-notification-main-body {
  min-height: 100vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 15vh 0;
  gap: 20px;
}
.u-notification-body-title {
  height: 70px;
  width: 70%;
  /* background-color: rgb(157, 255, 252); */
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  font-family: fangsong, math, sans-serif;
}
.u-notification-content-body {
  min-height: 50vh;
  width: 70%;
  /* background-color: rgb(105, 89, 89); */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.u-notification-content {
  height: 100px;
  width: 95%;
  /* background-color: rgb(248, 248, 248); */
  background-image: linear-gradient(
    to left,
    rgb(248, 248, 248),
    rgb(255, 232, 241),
    rgb(242, 226, 255)
  );
  border: 1px solid rgb(200, 200, 200);
  /* border-radius: 10px; */
  border-radius: 50px;
  display: flex;
  justify-content: start;
  padding-left: 25px;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}
.u-notification-content-icon {
  height: 60px;
  width: 60px;
  background-color: rgb(190, 220, 249);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(25, 25, 25);
  font-family: sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  position: relative;
}
.u-notification-content-icon-accept-dot,
.u-notification-content-icon-reject-dot {
  height: 6px;
  width: 6px;
  border: 3.5px solid white;
  border-radius: 50%;
  right: 2px;
  top: 5px;
  position: absolute;
}
.u-notification-content-icon-accept-dot {
  background-color: rgb(9, 255, 0);
}
.u-notification-content-icon-reject-dot {
  background-color: rgb(255, 0, 106);
}
.u-notification-content-data-sec {
  height: 50px;
  max-width: 85%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 8px;
  font-family: sans-serif;
}
.u-notification-content-data {
  height: 20px;
  width: 85%;
  font-weight: 600;
  font-size: 0.9rem;
  /* background-color: rgb(9, 255, 0); */
}
.u-notification-content-description {
  font-style: italic;
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  overflow: hidden;

  /* background-color: rgb(255, 238, 0); */
}

/* //////////Letter Body */

.u-notification-letter-main-body {
  min-height: 500px;
  width: 100%;
  /* background-color: rgb(169, 39, 39); */

  display: flex;
  justify-content: start;
  align-items: center;

  padding: 5vh 0;
  /* position: absolute; */
}
.u-notification-letter-body {
  min-height: 500px;
  width: 80%;
  /* border-radius: 20px;
  border: 1px solid red; */
  /* background-color: rgb(230, 74, 74); */
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  /* position: relative; */
}
.u-notification-letter-title {
  font-size: 1.7rem;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-notification-letter-title:nth-child(4),
.u-notification-letter-title:nth-child(5) {
  font-size: 1.5rem;
}
.u-notification-letter-closing-btn {
  height: 25px;
  font-weight: 700;
  color: rgb(49, 49, 49);
  font-size: 1.3rem;
  filter: brightness(0.1);
  position: absolute;
  right: 100px;
  top: 20px;
  border-radius: 50%;
  cursor: pointer;
}

/* //////////Responsive Area */

@media screen and (max-width: 1100px) {
  .u-notification-body-title {
    width: 85%;
  }
  .u-notification-content-body {
    width: 90%;
  }
}
@media screen and (max-width: 900px) {
  .u-notification-content-body {
    gap: 20px;
  }
  .u-notification-content-data-sec {
    max-width: 75%;
  }
  .u-notification-letter-closing-btn {
    right: 10%;
  }
}
@media screen and (max-width: 600px) {
  .u-notification-content {
    height: 80px;
    padding-left: 20px;
    gap: 20px;
  }
  .u-notification-content-icon {
    height: 50px;
    width: 50px;
  }
  .u-notification-content-icon-accept-dot,
  .u-notification-content-icon-reject-dot {
    height: 4px;
    width: 4px;
    right: 1px;
    top: 3px;
  }
}
