.userbooking-main-body {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.userbooking-image-body {
  height: 100vh;
  width: 100%;
  background: url("/booking-background1.jpg");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}
.userbooking-text-body {
  min-height: 300px;
  left: 100px;
  position: absolute;
  text-transform: capitalize;
  /* width: 500px; */
  width: 80%;
  color: white;
  font-size: 3.5rem;
  display: flex;
  justify-content: end;
  align-items: start;
  flex-direction: column;
  /* font-style: italic; */
  /* background-color: rgba(100, 0, 0, 0.99); */
}
.userbooking-text-wrap {
  min-height: 210px;
  /* width: 500px; */
  width: 100%;
  display: flex;
  justify-content: center;
  /* background-color: red; */
  align-items: start;
  flex-direction: column;
  font-family: fangsong, math, sans-serif;
  font-weight: 700;
  position: relative;
  overflow: hidden;
}
.userbooking-text-quote {
  animation: text_show 1s linear;
  position: absolute;
  height: auto;
  background-color: black;
  /* background-color: red; */
  font-size: 3rem;
}
.userbooking-text-quote:nth-child(1) {
  top: 0px;
}
.userbooking-text-quote:nth-child(2) {
  top: 60px;
  /* font-size: 3.5rem; */
  animation-delay: 1.5s;
}
.userbooking-text-quote:nth-child(3) {
  top: 120px;
  animation-delay: 3s;
  /* font-size: 4rem; */
}
@keyframes text_show {
  from {
    left: -500px;
  }
  to {
    left: 0px;
  }
}
.userbooking-text-body-button {
  height: 40px;
  width: 140px;
  border: 0;
  font-family: math;
  border-radius: 5px;
  font-size: 1.3rem;
  transition: all 0.3s ease-in-out;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: btn 0.8s linear;
  animation-delay: 4.5s;
}

@keyframes btn {
  0% {
    width: 140px;
  }
  50% {
    width: 250px;
    color: rgb(255, 255, 255);
    background-color: black;
  }
  100% {
    width: 140px;
  }
}
.userbooking-text-body-button:hover {
  background-color: rgb(255, 210, 182);
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

/* /////Userbooking-categories-section */

.userbooking-categories-sec {
  min-height: 100vh;
  width: 100%;
  /* background-color: rgb(102, 9, 9); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}
.userbooking-categories-title {
  height: 100px;
  width: 100%;
  /* background-color: cyan; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  font-family: math;
  text-transform: uppercase;
}
.userbooking-categories-card-sec {
  min-height: 50vh;
  width: 100%;
  /* background-color: rgb(162, 19, 19); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 50px 0;
  flex-wrap: wrap;
}

.userbooking-categories-card-body {
  height: 400px;
  width: 280px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.266);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.userbooking-categories-card-img-sec {
  height: 200px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(198, 255, 255); */
  overflow: hidden;
}
.userbooking-categories-card-img {
  height: 200px;
  width: auto;
  transition: all 0.5s ease-in-out;
}
.userbooking-categories-card-body:hover .userbooking-categories-card-img {
  transform: scale(1.1);
}
.userbooking-categories-card-content-sec {
  height: 200px;
  width: 250px;
  /* background-color: rgb(255, 239, 135); */
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.userbooking-categories-card-content-title {
  height: 50px;
  width: 100%;
  /* background-color: aquamarine; */
  display: flex;
  font-family: math, system-ui;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
}

/* ///booking section */

.userbooking-booking-sec {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* //booking area */

.userbooking-booking-background {
  height: 550px;
  width: 400px;
  /* background-color: rgb(255, 255, 255); */
  background: url("/booking-form.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  color: white;
  font-family: system-ui;
  box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.453);
}
.userbooking-background-text {
  height: 100px;
  filter: invert(1) drop-shadow(2px 2px 5px rgb(0, 0, 0));
}
.userbooking-booking-area {
  height: 550px;
  width: 400px;
  background-color: rgb(255, 255, 255);

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.453);
}
.userbooking-booking-form {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  /* background-color: red; */
  /* gap: 10px; */
  gap: 20px;
  align-items: center;
  flex-direction: column;
}
.userbooking-form-heading {
  font-size: 2rem;
}

.userbooking-inputfield-sec {
  height: 50px;
  width: 300px;
  display: flex;
  justify-content: end;
  align-items: start;
  flex-direction: column;
  /* background-color: red; */
  position: relative;
}
.userbooking-input-text {
  position: absolute;
  font-size: 0.9rem;
  left: 10px;
  top: 0;
  display: none;
}
.userbooking-inputfield {
  /* border-radius: 50px; */
  border-radius: 5px;
  /* height: 35px; */
  height: 40px;
  width: 280px;
  border: 1px solid rgba(0, 0, 0, 0.238);
  padding: 0 10px;
  background-color: rgb(255, 255, 255);
  transition: all 0.2s ease-in-out;
}
.userbooking-inputfield:focus {
  outline: none;
  transform: scale(1.02);
  border: 1px solid #ffcb97;
}
.userbooking-form-btn {
  height: 40px;
  width: 300px;
  border: 0;
  padding: 5px 20px;
  border-radius: 50px;
  font-size: 1.3rem;
  color: white;
  background-color: #ffcb97;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userbooking-form-btn-img {
  height: 25px;
}

/* //////////////////////////// */

/* Responsive area */

@media screen and (max-width: 1000px) {
  .userbooking-booking-sec {
    flex-direction: column;
  }
  .userbooking-booking-background {
    height: 400px;
    width: 400px;
    border-radius: 20px  20px 0 0;
  }
  .userbooking-background-text {
    height: 80px;
  }
  .userbooking-booking-area {
    height: 550px;
    width: 400px;
  }
}
@media screen and (max-width: 700px) {
  .userbooking-text-body {
    left: 50px;
  }
  .userbooking-text-quote {
    font-size: 2.5rem;
  }
}
