.u-photo-booking-main-body {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: system-ui;
}
.u-photo-booking-profile-body {
  min-height: 100vh;
  width: 100%;
  /* background-color: blue; */
  background-image: url("/public/profile-background1.jpg");
  background-position: center;
  background-size: cover;
  object-fit: cover;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 50px;
}
.u-photo-booking-profile-left {
  height: 400px;
  width: 500px;
  /* background-color: rgb(0, 0, 0); */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.u-photo-booking-profile-img-background {
  position: absolute;
  height: 280px;
  width: 280px;
  /* min-height: 60px;
  width: 300px; */
  border-radius: 50%;
  filter: blur(30px);
  background-image: linear-gradient(
    to bottom,
    rgb(125, 0, 160),
    rgb(0, 255, 251)
  );
  animation: profile-background 10s linear infinite;
}

@keyframes profile-background {
  from {
    transform: rotate(1turn);
  }
}
.u-photo-booking-profile-img-sec {
  height: 280px;
  width: 280px;
  z-index: 0;
  border-radius: 50%;
  /* border-radius: 15px; */
  border: 8px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #ffffff;
}
.u-photo-booking-profile-img {
  height: 100%;
  max-width: 100%;
}

.u-photo-booking-profile-right {
  height: 400px;
  width: 500px;
  /* background-color: rgb(66, 244, 1); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.u-photo-booking-profile-details {
  height: 90%;
  width: 90%;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  font-size: 1.4rem;
  font-weight: 600;
}
.u-photo-booking-profile-data {
  height: auto;
  width: 95%;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: capitalize;
  /* background-color: rebeccapurple; */
}
.u-photo-booking-profile-data:nth-child(1) {
  font-size: 4rem;
  /* background-color: rebeccapurple; */
}
/* ////////////////////////// */

.u-photo-booking-gallery-body {
  height: 60vh;
  width: 96%;
  /* background-color: rgb(56, 198, 13); */
  padding: 0 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  /* overflow-y: hidden; */
  /* white-space: nowrap; */
  /* scrollbar-width: none; */
  gap: 20px;
}
.u-photo-booking-gallery-img-body {
  height: 300px;
  width: 100px;
  /* width: 300px; */
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  border-radius: 50px;
  transition: all 0.35s ease-in-out;
}
.u-photo-booking-gallery-img {
  height: auto;
  width: 300px;
  filter: grayscale(0.7);
  transition: all 0.35s ease-in-out;
}
.u-photo-booking-gallery-img-body:hover {
  transform: scale(1.03);
  width: 300px;
}
.u-photo-booking-gallery-img-body:hover .u-photo-booking-gallery-img {
  transform: scale(1.1);
  filter: grayscale(0);
}
/* ////////////Text Body */

.u-photo-booking-text-body {
  min-height: 100vh;
  width: 60%;
  font-family: fangsong, math, sans-serif;

  /* background-color: rebeccapurple; */
  display: flex;
  justify-content: start;
  gap: 30px;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  line-height: 35px;
}
.u-photo-booking-text-title {
  font-size: 1.8rem;
  font-weight: 600;
}

/* ///booking section */

.u-photo-booking-booking-sec {
  min-height: 100vh;
  width: 100%;
  display: flex;
  /* background-color: rebeccapurple; */
  justify-content: center;
  align-items: center;
}

/* //booking area */

.u-photo-booking-booking-background {
  height: 550px;
  width: 400px;
  /* background-color: rgb(255, 255, 255); */
  background: url("/booking-form.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  color: white;
  font-family: system-ui;
  box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.453);
}
.u-photo-booking-background-text {
  height: 100px;
  filter: invert(1) drop-shadow(2px 2px 5px rgb(0, 0, 0));
}

/* /// */

.u-photo-booking-booking-area {
  height: 550px;
  width: 400px;
  background-color: rgb(255, 255, 255);

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.453);
}

.u-photo-booking-booking-form {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  /* background-color: red; */
  /* gap: 10px; */
  gap: 20px;
  align-items: center;
  flex-direction: column;
}
.u-photo-booking-form-heading {
  font-size: 2rem;
}

.u-photo-booking-inputfield-sec {
  height: 50px;
  width: 300px;
  display: flex;
  justify-content: end;
  align-items: start;
  flex-direction: column;
  /* background-color: red; */
  position: relative;
}
.u-photo-booking-input-text {
  position: absolute;
  font-size: 0.9rem;
  left: 10px;
  top: 0;
  display: none;
}
.u-photo-booking-inputfield {
  /* border-radius: 50px; */
  border-radius: 5px;
  /* height: 35px; */
  height: 40px;
  width: 280px;
  border: 1px solid rgba(0, 0, 0, 0.238);
  padding: 0 10px;
  background-color: rgb(255, 255, 255);
  transition: all 0.2s ease-in-out;
}
.u-photo-booking-inputfield:focus {
  outline: none;
  transform: scale(1.02);
  border: 1px solid #ffcb97;
}
.u-photo-booking-form-btn {
  height: 40px;
  width: 300px;
  border: 0;
  padding: 5px 20px;
  border-radius: 50px;
  font-size: 1.3rem;
  color: white;
  background-color: #ffcb97;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.u-photo-booking-form-btn-img {
  height: 25px;
  z-index: 1;
}
.u-photo-booking-form-btn-back {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #ffdcba;
  position: absolute;
  bottom: -20px;
  transition: all 0.7s ease-in-out;
}
.u-photo-booking-form-btn:hover .u-photo-booking-form-btn-back {
  /* bottom: -50px; */
  border-radius: 20%;
  height: 700px;
  width: 700px;
}

/* /////////Responsive Area */

@media screen and (max-width: 1000px) {
  .u-photo-booking-profile-body {
    flex-direction: column;
  }

  .u-photo-booking-booking-sec {
    flex-direction: column;
  }
  .u-photo-booking-booking-background {
    height: 400px;
    width: 400px;
    border-radius: 20px 20px 0 0;
  }
  .u-photo-booking-background-text {
    height: 80px;
  }
  .u-photo-booking-booking-area {
    height: 550px;
    width: 400px;
  }
}

@media screen and (max-width: 560px) {
  .u-photo-booking-profile-left,
  .u-photo-booking-profile-right {
    width: 90%;
  }

  .u-photo-booking-profile-data:nth-child(1) {
    font-size: 2rem;
  }
  .u-photo-booking-profile-data {
    font-size: 1rem;
  }
}
@media screen and (max-width: 450px) {
  .u-photo-booking-booking-background,
  .u-photo-booking-booking-area {
    width: 90%;
  }
  .u-photo-booking-inputfield {
    width: 80%;
  }
}
