.userhome-main-body {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  font-family: fangsong, math, sans-serif;
}

/* //Introduction body */

.userhome-introduction-body {
  min-height: 120vh;
  width: 100%;
  color: white;

  /* background-color: rgb(109, 106, 3); */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("/home-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.userhome-intro-left-body {
  height: 80vh;
  width: 40%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.userhome-intro-image-sec {
  height: 450px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(255, 255, 255);  */
  background-image: url("./public/img-frame.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.userhome-intro-body-img {
  width: 80%;
  height: auto;
}
.userhome-intro-right-body {
  height: 120vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 10px;
  flex-direction: column;
  position: absolute;
  right: 20px;
}
.userhome-intro-title {
  height: 150px;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: start;
  font-size: 2.5rem;
  line-height: 50px;
  font-weight: 600;
  align-items: center;
}
.userhome-intro-paragraph {
  min-height: 200px;
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  font-size: 1.3rem;
  /* font-weight: 600; */
  line-height: 35px;
}
.userhome-intro-button {
  height: 35px;
  width: 130px;
  border: 0;
  background-color: rgb(255, 246, 182);
  border-radius: 15px 10px;
  font-size: 1rem;
  cursor: pointer;
}

/* ////////Photographers Profile Area */

.userhome-photographers-area {
  min-height: 50vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userhome-photographers-title {
  height: 100px;
  width: 100%;
  /* background-color: rgb(85, 255, 0); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;

}
.userhome-photographers-profile-sec {
  height: 300px;
  /* background-color: blue; */
  width: 95%;
  display: flex;
  justify-content: start; /* Adjust alignment as needed */
  gap: 30px;
  align-items: center;
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Hide vertical scrollbar */
  white-space: nowrap; /* Prevent items from wrapping */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.userhome-photographers-profile-body {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  flex-shrink: 0; /* Prevent items from shrinking */

  /* background-color: rgb(0, 152, 20); */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.userhome-photographers-profile-body:hover {
  box-shadow: 0px 0px 10px black;
  transform: scale(1.02);
}
.photographer-profile {
  max-height: 100%;
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 50%;
}

/* ///Gallery section */

.userhome-gallery-sec {
  height: 100vh;
  width: 100%;
  /* background-color: rgb(0, 0, 0); */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.userhome-gallery {
  height: 500px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.43);
  width: 900px;
  /* background-color: rgb(178, 21, 21); */
  /* border-radius: 40% 50px; */
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 7px;
  /* overflow: hidden; */
}

.userhome-gallery-colum {
  height: 500px;
  width: 200px;
  /* background-color: blanchedalmond; */
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  overflow-x: hidden;
  overflow-y: auto;
  /* white-space: nowrap; */
  scrollbar-width: none;
}

.userhome-gallery-img {
  height: auto;
  width: 100%;
}
/* ////////////Text body */
.userhome-text-body {
  min-height: 100vh;
  width: 60%;
  /* background-color: rebeccapurple; */
  display: flex;
  justify-content: start;
  gap: 30px;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  line-height: 35px;
}
.userhome-text-title {
  font-size: 1.8rem;
  font-weight: 600;
}
